body{
  background: rgb(24,29,9);
  display: flex;
}
.App {
  text-align: center;
}

/*Propiedades del padre de los botones (calculadora)*/
.Calculadora{
  position: absolute;
}

.Cero{
  position: relative;
}

button {
  font-size: calc(10px + 2vmin);
}
